
.confirm {
    max-width: 800px;
    font-family: 'Gilroy';
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.heading {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
}

.text {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 15px;
}

.status {
    color: #ffd149;
}



.timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0;
    position: relative;
}

.timeline-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    flex: 1;
}

.timeline-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ddd;
    z-index: 1;
}

.timeline-step.active .timeline-circle {
    background-color: #f08b2d;
    box-shadow: rgba(240, 139, 45 0.4) 15px;
    animation: pulse 1.5s infinite ease-in-out;
}

.timeline-label {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
    text-align: center;
}

.timeline-line {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: #ddd;
    z-index: 0;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}