.profile-page {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Gilroy';
}

.profile-page h2 {
    color: #222;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-weight: 600;
    text-align: left;
}

.exit {
    margin-bottom: 20px;
    
    width: 100px;
    padding: 10px;
    background: #e94a46;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 24px;
    transition: all 0.3s ease-in-out;
    margin-top: 100px;
    font-size: 14px;
    
}