.slider-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 40px;
  cursor: pointer;
}

.slider-image {
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}

.swiper-pagination {
  position: absolute;
  bottom: -50px; 
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px; 
}


.swiper-pagination-bullet {
  background-color: rgb(153, 153, 153);
  opacity: 1;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  transition: transform 0.3s, background-color 0.3s;
}


.swiper-pagination-bullet-active {
  background-color: #e94a46;
  transform: scale(1.5);
}

@media (max-width: 991px) {
  .slider-image {
    height: 180px;

  }

  .swiper-pagination {
    bottom: -30px; 
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet-active {
    transform: scale(1.3);
  }
}