.cart-items {
  box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.05);
}
.cart-item {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px;
  background-color: #fff;
  margin-bottom: 0px;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.cart-item:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.remove-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  background: none;
  border: none;
  cursor: pointer;
  color: black;
  font-size: 22px;
  transition: color 0.3s ease;
  user-select: none;
}

.remove-icon:hover {
  color: #e94a46;
}

.cart-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  user-select: none;
  -webkit-user-drag: none;
}

.cart-item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.cart-item-title {
  margin: 0;
  font-size: 22px;
  font-weight: 200;
  color: #000;
}

.cart-item-size {
  margin: 0;
  font-size: 14px;
  color: #666;
}

.price-quantity-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.cart-item-price {
  font-size: 20px;
  font-weight: bold;
  margin-right: 30px;
}

.quantity-container {
  display: flex;
  align-items: center;
  border: #111 solid 1px;
  border-radius: 50px;
  overflow: hidden;
  height: 28px;
  padding: 4px 7px;
  gap: 10px;
  user-select: none;
  -webkit-user-drag: none;
}

.quantity-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #111;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.quantity-value {
  background: #e94a46;
  color: #fff;
  border-radius: 50%;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  min-width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;

}
