.promotions-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Gilroy';
}

.promotions-container h1 {
  font-size: 32px;
  font-weight: 600;
  color: #333;
  text-align: start;
  margin-bottom: 30px;
}

.promotions-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
}

.promotion-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100%; 
}

.promotion-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.promotion-card img {
  width: 100%;
  height: 180px;
  object-fit:cover
}

.promotion-info {
  padding: 15px;
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
}

.promotion-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.promotion-short-description {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}

.promotion-date {
  font-size: 0.9rem;
  color: #777;
  margin-top: auto; 
}

@media (max-width: 1024px) {
  .promotions-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .promotions-grid {
    grid-template-columns: 1fr;
  }

  .promotions-container h1 {
    font-size: 2rem;
  }

  .promotion-card img {
    height: 150px;
  }

  .promotion-info h2 {
    font-size: 1.3rem;
  }

  .promotion-description {
    font-size: 0.9rem;
  }
}